<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script src="https://kit.fontawesome.com/c37247b91b.js"></script>
        <link rel="icon" href="favicon.png" type="image/png">
        <title>きたむら運送従業員専用</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
